.div1 {
    width: 400px;
    height: 200px;
    border: 1px solid blue;
}

.div2 {
    width: 400px;
    height: 200px;
    padding: 50px;
    border: 1px solid red;
}

.div3 {
    width: 400px;
    height: 200px;
    padding: 50px;
    border: 1px solid green;
    box-sizing: border-box;
}
